*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Hachi Maru Pop", cursive;
  background-image: linear-gradient(
    to left bottom,
    #d16ba5,
    #c572b6,
    #b67ac5,
    #a483d1,
    #8e8bda,
    #7594e1,
    #5a9de4,
    #3ba4e3,
    #00aede,
    #00b6d5,
    #17bdc8,
    #43c2ba
  );
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
}

.inbox {
  max-width: 400px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  background: #f9f9f9;
  text-decoration: line-through;
  text-decoration-color: #b67ac5;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  flex: 1;
  font-family: "Hachi Maru Pop", cursive;
  font-size: 12px;
  font-weight: 600;
  border-left: 1px solid #d1e2ff;
}

.icons,
footer {
  position: absolute;
}
.icons {
  margin: 0 auto;
  width: max-content;
  bottom: 22%;
  left: 41.8%;
}
.icons > a > svg {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  transition: all 0.2s;
}

.icons > a > svg:hover {
  width: 32px;
  height: 32px;
}

.icons > a {
  text-decoration: none;
}

.icons > a:active {
  transform: scale(0.95);
}

footer {
  bottom: 15%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  font-size: small;
  text-align: center;
  color: #fff;
  line-height: 5px;
  left: 40.5%;
}

footer > p {
  border-left: none;
}
