body {
  background-color: #f6f6a7;
}

.calculator {
  border: 3px;
  border-radius: 10px;
  width: 360px;
  height: max-content;
  text-align: center;
  background-color: #c7c7c7;
  margin: 8% auto;
  padding: 5px 0 25px 0;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  background-image: linear-gradient(
    to right bottom,
    #ff94d1,
    #ef96df,
    #da99ec,
    #c29ef5,
    #a5a2fc,
    #a5a2fc,
    #a5a2fc,
    #a5a2fc,
    #c29ef5,
    #da99ec,
    #ef96df,
    #ff94d1
  );
}

#textScreen {
  width: 300px;
  height: 20px;
  border: 2px #949494 solid;
  border-radius: 10px;
  text-align: right;
  position: relative;
  left: 23px;
  padding: 0px 5px 25px 5px;
  background-color: white;
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  overflow: hidden;
}

.calculator [type="button"] {
  width: 40px;
}
.calculator input.large {
  color: rgb(60, 22, 121);
  width: 60px;
}

input {
  font-family: "Indie Flower", cursive;
  font-size: 25px;
  margin-right: 6px;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

input:active {
  transform: scale(0.95);
}
